// nav-bumper.component.scss
@use '../../../../styles/global-variables' as vars;
@use '../../../../styles/global-mixins' as mixins;

nav-bumper {
    @include mixins.flex(flex-end, center, row);
    position: absolute;
    top: vars.$one-percent;
    right: vars.$one-percent;
    gap: vars.$one-percent;
}
