// buy-type-selector.component.scss
@use '../../../../styles/global-variables' as vars;
@use '../../../../styles/global-mixins' as mixins;
@use '../../../../styles/global-placeholders' as placeholders;

buy-type-selector {
    @include mixins.flex(center, center, row);
    background-color: white;
    margin: vars.$one-percent 0;

    // box-shadow: add-alpha($blue-gray, 0.5) 0 $quarter-percent $quarter-percent 0;
    @extend %softer-border-radius;
    padding: vars.$half-percent;

    buy-type {
        &:first-child {
            margin-right: vars.$half-percent;
        }
    }
}
