// display-currency.component.scss
@use '../../../../styles/global-variables' as vars;
@use '../../../../styles/global-mixins' as mixins;
@use '../../../../styles/global-placeholders' as placeholders;
@use 'angular/styles/gradients/global-gradient-placeholders' as gradient-placeholders;

display-currency {
    @include mixins.flex(space-between, center, row);
    width: 90%;
    min-height: vars.$ten-percent;
    padding: vars.$one-percent;

    // background-color: add-alpha-opaque($alabaster-stone, 0.5, $muted-blue);
    background: linear-gradient(
        135deg,
        rgb(240 248 255 / 80%),
        rgb(173 216 230 / 80%)
    );

    .currency-price-div {
        @include mixins.flex(center, center, row);

        subtitle {
            margin: 0 vars.$half-percent;
        }
    }
    margin: vars.$half-percent 0;

    @extend %soft-border-radius;

    .display-action-div {
        @include mixins.flex(center, center, row);
        flex: 1;

        .image-code-div {
            @include mixins.flex(center, center, column);
            padding: vars.$half-percent;

            @extend %soft-border-radius;

            // @extend %light-logo-gradient;
            background-color: #00c8b6;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%2300C8B6' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%233bd7a9' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%236ae496' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%2399f080' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23caf869' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23FFFD56' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
            background-attachment: fixed;
            background-size: cover;
            border: vars.$thinnest-border solid vars.$pure-white;

            ss-img {
                @include mixins.square-size(vars.$six-percent);
                padding: vars.$half-percent;
                background-color: vars.$alabaster-stone;

                @extend %circle-border-radius;
            }
        }

        .display-currency-title {
            border-left: vars.$thin-border solid vars.$pure-white;
            padding: 0 vars.$half-percent;

            @include mixins.flex(center, flex-start, column);
            flex: 1;
            margin: 0 vars.$one-percent;

            > * {
                margin-left: vars.$half-percent;
            }

            .display-currency-name {
                // font-size: calc($h4-font-size * 1.25);
                @extend %soft-text-shadow;
                color: vars.$pure-white;
                text-align: left;
            }

            .currency-price {
                color: vars.$sunbeam-yellow;
            }

            .currency-action-buttons-div {
                @include mixins.flex(flex-start, center, row);
                margin: vars.$half-percent 0;
                width: 80%;

                ss-button {
                    min-width: 4ch;
                }

                ss-button:first-child {
                    margin-right: vars.$half-percent;
                }

                ss-button:last-child {
                    margin-left: vars.$half-percent;
                }
            }
        }
    }

    &.up-performance {
        .display-action-div {
            .display-currency-title {
                .currency-price {
                    color: vars.$lime;
                }
            }
        }
    }

    &.down-performance {
        .display-action-div {
            .display-currency-title {
                .currency-price {
                    color: vars.$red-orange;
                }
            }
        }
    }

    @media screen and (width <= 1100px) {
        @include mixins.flex(center, center, column);
        day-currency-chart {
            //width: 100%;
            ling-chart {
                width: 100%;
            }
        }
    }
}
