// portfolio-assets-report.component.scss
@use '../../../../styles/global-variables' as vars;
@use '../../../../styles/global-placeholders' as placeholders;
@use 'angular/styles/gradients/global-gradient-placeholders' as gradient-placeholders;

portfolio-assets-report {
    background-color: vars.$off-white;

    @extend %softer-border-radius;
    padding: vars.$one-percent;
    width: vars.$sixty-percent;
    margin: vars.$one-percent 0;

    hr {
        border: vars.$very-thin-border vars.$charcoal solid;
        width: 95%;
    }

    .report-title {
        @extend %signature-brand-gradient-text-small-reflection;
    }
}
