// icon-text-item.component.scss
@use '../../../../styles/global-variables' as vars;
@use '../../../../styles/global-mixins' as mixins;

icon-text-item {
    @include mixins.flex(flex-start, center, row);
    gap: vars.$half-percent;
    font-size: 1rem;
    line-height: 1.5;

    .item-icon {
        @include mixins.square-size(1.4rem);
        flex-shrink: 0;
    }
}
