@use 'sass:color';
@use '../../../../styles/global-variables' as vars;
@use '../../../../styles/global-mixins' as mixins;
@use '../../../../styles/global-functions' as funcs;
@use '../../../../styles/global-placeholders' as placeholders;
@use 'angular/styles/gradients/global-gradient-placeholders' as gradient-placeholders;
@use 'angular/styles/gradients/global-gradient-variables' as gradient-vars;
@use 'angular/styles/gradients/global-gradient-mixins' as gradient-mixins;

start-trading-promo {
    width: 100%;
    margin: vars.$two-percent 0;
    .cta-section {
        width: 100%;
        background: linear-gradient(
            180deg,
            vars.$ivory-white 0%,
            vars.$pure-white 50%,
            funcs.add-alpha(vars.$pale-mint, 0.15) 100%
        );
        padding: vars.$three-percent 0;

        &.no-gradient {
            background: none;
        }
    }

    .section-content {
        width: vars.$eighty-percent;
        margin: 0 auto;
    }

    .cta-content {
        @include mixins.flex(center, center, column);
        text-align: center;

        eyebrow-label {
            color: vars.$teal-green;
        }

        ss-title h2 {
            @include gradient-mixins.gradient-text(gradient-vars.$regular-logo);
        }

        subtitle {
            color: vars.$blue-gray;
            margin-bottom: vars.$one-percent;
        }
    }

    .cta-row {
        @include mixins.flex(center, center, row);
        gap: vars.$one-percent;
        margin-top: vars.$one-percent;
    }
}
