// trader-event-bubble.component.scss
@use '../../../../styles/global-variables' as vars;
@use '../../../../styles/global-mixins' as mixins;
@use '../../../../styles/global-placeholders' as placeholders;
@use 'angular/styles/gradients/global-gradient-placeholders' as gradient-placeholders;

trader-event-bubble {
    @include mixins.flex(center, center, column);
    padding: vars.$one-percent vars.$one-half-percent;

    @extend %soft-border-radius;
    background-color: vars.$air-blue;
    margin: vars.$half-percent 0;
    min-width: vars.$twenty-five-percent;

    ss-title {
        // width: 100%;
    }

    .trade-title-details {
        @include mixins.flex(space-around, center, row);

        @extend %softer-border-radius;
        background-color: vars.$muted-blue;
        padding: vars.$half-percent;

        ss-img {
            background-color: transparent;
            box-shadow: none;

            @include mixins.square-size(vars.$two-percent);

            // margin-right: $half-percent;
            img {
                // filter: invert(0);
            }
        }

        .trade-title-details-text {
            @include mixins.flex(center, center, column);
            margin-right: vars.$half-percent;

            ss-title h6 {
                color: white;
            }
        }
    }

    .value-change-div {
        width: 100%;
        margin: vars.$half-percent 0;

        @include mixins.flex(flex-end, center, row);

        .trade-value {
            @include mixins.flex(flex-end, center, row);
            width: 100%;

            h4 {
                // color: $mint-green;
                // text-decoration: underline;
                text-align: right;

                @extend %signature-brand-gradient-text-smallest-reflection;
            }
        }
    }

    .trade-title {
        width: 100%;

        @include mixins.flex(space-between, center, row);

        .currency-name-div {
            @include mixins.flex(flex-start, center, row);

            // margin-right: $five-percent;
            @extend %softer-border-radius;
            background-color: vars.$pure-white;
            padding: calc(#{vars.$half-percent} * 0.75) vars.$one-half-percent
                calc(#{vars.$half-percent} * 0.75) vars.$one-percent;

            ss-title h4 {
                color: gray;

                // margin-right: $two-percent;
            }

            ss-img {
                padding: calc(#{vars.$quarter-percent} * 1.25)
                    calc(#{vars.$quarter-percent} * 1.65);
                margin-right: vars.$half-percent;

                @include mixins.square-size(vars.$two-percent);

                img {
                    filter: invert(0.5);
                }
            }
        }
    }

    .trade-time-div {
        width: 100%;

        @include mixins.flex(space-between, center, row);
    }

    accordion {
        width: 100%;
    }
}
