<ng-container>
    <div class="currency-tile" (click)="onClick()">
        <ss-img
            [imageAsset]="imageAsset"
            class="currency-logo"
        />
        <div class="currency-info">
            <span class="currency-code">{{ currency.currencyCode }}</span>
            <span class="currency-name">{{ currency.currencyName }}</span>
        </div>
        <div class="currency-performance">
            <performance-arrow
                [performance]="performance"
                [imageColor]="ImageColorVariation.Black"
            />
        </div>
    </div>
</ng-container>