// NavItem.scss
@use "../../../styles/global-placeholders" as placeholders;

NavItem {
    -fx-alignment: center;
    Button {
        -fx-pref-width: 200px;
        -fx-padding: 10px;
        @extend placeholders.%hover-box-shadow;
    }
}