// portfolio-page-arrow.component.scss
@use '../../../../styles/global-variables' as vars;
@use '../../../../styles/global-mixins' as mixins;
@use '../../../../styles/global-functions' as funcs;
@use '../../../../styles/global-placeholders' as placeholders;
@use 'angular/styles/gradients/global-gradient-placeholders' as gradient-placeholders;

portfolio-section-arrow {
    background-color: vars.$off-white;

    @include mixins.flex(center, center, column);
    margin: 0 vars.$half-percent;

    @extend %softer-border-radius;
    transition:
        background-color,
        transform,
        0.1s ease-in-out;

    arrow {
        mat-icon {
            filter: invert(0.5);
        }

        ss-title {
            @extend %signature-brand-gradient-text-smallest-reflection;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: funcs.add-alpha-opaque(vars.$alabaster-stone, 0.5, vars.$off-white);
    }

    &:active {
        transform: scale(0.95);
    }
}
