// arrow.component.scss
@use 'angular/styles/global-variables' as vars;
@use 'angular/styles/global-mixins' as mixins;
@use 'angular/styles/global-placeholders' as placeholders;

arrow {
    @include mixins.flex(center, center, column);

    @extend %soft-border-radius;
    padding: vars.$quarter-percent;
    margin: 0 vars.$one-percent;

    @include mixins.square-size(vars.$three-percent);

    mat-icon {
        margin: vars.$quarter-percent 0;
        font-size: vars.$five-percent;
        transform: translateX(5px);
    }

    &.arrow-up {
        mat-icon {
            transform: rotate(90deg);
        }
    }

    &.arrow-down {
        mat-icon {
            transform: rotate(-90deg);
        }
    }

    &.arrow-right {
        mat-icon {
            transform: rotate(180deg) translateX(5px);
        }
    }
}
