// home-anchor.component.scss
@use '../../../../styles/global-variables' as vars;
@use '../../../../styles/global-mixins' as mixins;
@use '../../../../styles/global-placeholders' as placeholders;

home-anchor {
    left: vars.$one-percent;
    position: absolute;

    @include mixins.square-size(calc(#{vars.$three-half-percent} + #{vars.$quarter-percent}));
    box-shadow: none;
    transition: scale, 0.3s;

    @extend %soft-border-radius;

    // background-color: add-alpha($alabaster-stone, 0.7);
    padding: vars.$quarter-percent;

    &:hover {
        cursor: pointer;

        // box-shadow: $blue-gray $quarter-percent $quarter-percent 0 0;
    }

    &:active {
        box-shadow: none;

        // transform: translate($quarter-percent, $quarter-percent);
        scale: 0.9;
    }
}
