// meet-crypto-trader-promo.component.scss
@use '../../../../styles/global-variables' as vars;
@use '../../../../styles/global-mixins' as mixins;
@use '../../../../styles/global-functions' as funcs;
@use '../../../../styles/global-placeholders' as placeholders;
@use 'angular/styles/gradients/global-gradient-placeholders' as gradient-placeholders;
@use 'angular/styles/gradients/global-gradient-variables' as gradient-vars;
@use 'angular/styles/gradients/global-gradient-mixins' as gradient-mixins;

meet-crypto-trader-promo {
    @include mixins.promo-section-block;
    overflow: hidden;
    width: 100%;
    border-radius: 0;
    .meet-ct-stripe {
        @include mixins.two-column-layout;
        background: radial-gradient(
                ellipse at 30% 50%,
                funcs.add-alpha(vars.$muted-blue, 0.15),
                transparent
            ),
            vars.$midnight-navy;
        padding: vars.$two-percent vars.$three-percent;
        border-radius: vars.$quarter-percent;

        .copy-col {
            .flipline {
                @include mixins.flex(flex-start, baseline, column);
                gap: 0.4ch;

                ss-title,
                flip-words {
                    display: inline-block;
                    color: vars.$pure-white;
                }
            }

            subtitle {
                color: vars.$alabaster-stone;
                margin-top: vars.$quarter-percent;
            }

            .lead {
                width: 90%;
                color: funcs.add-alpha(vars.$alabaster-stone, 0.85);
                margin-top: vars.$quarter-percent;
            }

            cta-button {
                margin-top: vars.$one-percent;
            }
        }
    }

    @include mixins.mobile-breakpoint {
        .meet-ct-stripe {
            @include mixins.two-column-responsive;
        }
    }
}
