<!-- auth-console-signup-section.component.html -->
<ng-container>
    <auth-input
        [authInputType]="AuthInputType.Email"
        (inputChange)="updateEmail($event)"
    />
    <auth-input
        [authInputType]="AuthInputType.Password"
        (inputChange)="updatePassword($event)"
    />
    <auth-input
        [authInputType]="AuthInputType.ConfirmPassword"
        (inputChange)="updateConfirmPassword($event)"
    />
    <auth-input
        [authInputType]="AuthInputType.AgreeTerms"
        (inputChange)="updateAgreedTerms($event)"
    />
    <ss-button
        [size]="ElementSize.MEDIUM"
        [text]="ButtonText.SIGN_UP"
        (buttonClick)="emitFields()"
    />
</ng-container>
