// asset-field.component.scss
@use '../../../../styles/global-variables' as vars;
@use '../../../../styles/global-mixins' as mixins;
@use '../../../../styles/global-placeholders' as placeholders;
@use 'angular/styles/gradients/global-gradient-placeholders' as gradient-placeholders;

asset-field {
    @include mixins.flex(center, center, column);
    width: 100%;

    &.highlighted-field {
        .field-text {
            @extend %signature-brand-gradient-text-small-reflection;
        }
    }

    .field-type-with-icon {
        @include mixins.flex(center, center, row);
        width: 90%;
    }

    ss-title {
        @include mixins.flex(flex-start, center, row);
        flex: 1;
        width: 100%;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-align: left;
            width: 100%;
        }
    }
}
