// content-stripe.component.scss

@use '../../../../styles/global-variables' as vars;
@use '../../../../styles/global-mixins' as mixins;
@use '../../../../styles/global-functions' as funcs;

content-stripe {
    width: 100%;

    @include mixins.flex(center, center, row);

    // background-image: linear-gradient(to right, $light-charcoal, $muted-blue);
    background-image: linear-gradient(
        to right,
        funcs.add-alpha(vars.$muted-blue, 0.8),
        vars.$muted-blue
    );
    margin: vars.$half-percent 0;
}
