// trade-checkout.component.scss
@use '../../../../styles/global-variables' as vars;
@use '../../../../styles/global-mixins' as mixins;

trade-checkout {
    @include mixins.flex(space-around, center, row);
    width: 100%;
    flex: 1;

    trade-currency {
        margin-right: vars.$one-percent;
    }

    .checkout-input {
        height: 100%;
        flex: 1;
        width: 100%;

        @include mixins.flex(center, center, row);

        input {
            margin-left: vars.$two-percent;
            min-width: vars.$ten-percent;
        }
    }

    .checkout-results {
        width: 100%;

        @include mixins.flex(center, center, column);
        margin: vars.$half-percent 0 vars.$one-percent 0;

        .result-div {
            width: 100%;

            @include mixins.flex(space-between, center, row);
        }
    }
}
