<!-- chat-overlay.component.html -->
@if (isVisible) {
    <ng-container>
        <div class="chat-fab" (click)="toggle()">
            <ss-img [imageAsset]="chatIcon" class="chat-fab-icon" />
        </div>
    </ng-container>
    @if (isOpen) {
        <ng-container>
            <div class="chat-overlay-panel">
                <div class="chat-overlay-header">
                    <ss-img [imageAsset]="chatIcon" class="chat-overlay-header-icon" />
                    <eyebrow-label [text]="'QUICK CHAT'" />
                    <button class="chat-overlay-close" (click)="toggle()">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="chat-overlay-messages">
                    @for (message of messages; track message.timestamp) {
                        <chat-bubble [message]="message" />
                    }
                    @if (isLoading) {
                        <loading-wheel
                            [colorScheme]="LoadingWheelColorScheme.TERMINAL"
                            [size]="ElementSize.SMALL"/>
                    }
                </div>
                <chat-input
                    [(value)]="userInput"
                    (send)="sendMessage()"
                    (keyDown)="onKeyDown($event)" />
            </div>
        </ng-container>
    }
}
