// asset-field-list.component.scss
@use '../../../../styles/global-mixins' as mixins;

asset-field-list {
    @include mixins.flex(center, center, row);
    width: 100%;

    .field-list {
        @include mixins.flex(center, center, row);
        width: 100%;

        asset-field {
            flex: 1;
        }
    }
}
