// search-input.component.scss
@use '../../../../styles/global-variables' as vars;
@use '../../../../styles/global-mixins' as mixins;
@use '../../../../styles/global-placeholders' as placeholders;

search-input {
    background-color: #d0d2dc;
    min-width: vars.$twenty-percent;
    min-height: vars.$four-percent;

    @extend %softer-border-radius;

    // box-shadow: $charcoal 0 0 $quarter-percent;
    .search-input-field {
        @extend %softer-border-radius;
        border: vars.$thinnest-border solid vars.$charcoal;
        font-family: vars.$jetbrains-mono-font;

        .input-with-icon {
            @include mixins.flex(flex-start, center, row);

            mat-icon {
                margin-right: vars.$half-percent;
            }

            input {
                border-bottom: calc(#{vars.$very-thin-border} * 1.5) solid
                    vars.$light-charcoal;
                padding: vars.$quarter-percent;
            }
        }
    }

    &.disabled {
        background-color: vars.$charcoal;
        filter: brightness(0.7);
        opacity: 0.4;

        &:hover {
            cursor: not-allowed;
        }

        input {
            pointer-events: none;
        }
    }
}

.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
    background-color: #d0d2dc;
    min-width: vars.$twenty-percent;
    min-height: vars.$four-percent;
}
