// asset-kill-switch.component.scss
@use '../../../../styles/global-variables' as vars;
@use '../../../../styles/global-mixins' as mixins;
@use '../../../../styles/global-placeholders' as placeholders;

asset-kill-switch {
    @include mixins.flex(center, center, row);
    background-color: vars.$mint-green;

    @include mixins.square-size(vars.$two-percent);
    padding: vars.$quarter-percent;

    @extend %softer-border-radius;
    @extend %light-box-shadow;
    transition: transform 0.2s;

    ss-img {
        img {
            filter: invert(1);
        }
    }

    &.is-killed {
        background-color: vars.$red-orange;
    }

    &:hover {
        cursor: pointer;
    }

    &:active {
        transform: scale(0.9);
    }
}
