// loading-wheel.component.scss
@use '../../../../styles/global-variables' as vars;
@use '../../../../styles/global-mixins' as mixins;
@use '../../../../styles/global-placeholders' as placeholders;

loading-wheel {
    @include mixins.flex(center, center, column);
    @include mixins.square-size(vars.$six-percent);
    position: relative;
    margin: vars.$one-percent 0;

    &.small {
        @include mixins.square-size(vars.$three-percent);

        .loader-dot {
            @include mixins.square-size(vars.$two-percent);
        }
    }

    &.medium {
        @include mixins.square-size(vars.$six-percent);

        .loader-dot {
            @include mixins.square-size(vars.$four-percent);
        }
    }

    &.large {
        @include mixins.square-size(vars.$ten-percent);

        .loader-dot {
            @include mixins.square-size(vars.$seven-percent);
        }
    }

    &.very-large {
        @include mixins.square-size(vars.$fifteen-percent);

        .loader-dot {
            @include mixins.square-size(vars.$ten-percent);
        }
    }

    &.color-ocean {
        .loader-ring {
            background: conic-gradient(
                from 0deg,
                lightblue,
                vars.$mint-green,
                vars.$air-blue,
                vars.$pure-white
            );
            border: vars.$thin-border solid vars.$alabaster-stone;
            box-shadow:
                0 0 vars.$eighth-percent vars.$sea-blue,
                0 0 vars.$quarter-percent vars.$turquoise-blue;
        }

        .loader-dot {
            background-color: vars.$pure-white;
            box-shadow: 0 0 vars.$half-percent vars.$turquoise-blue;
        }
    }

    &.color-sunset {
        .loader-ring {
            background: conic-gradient(
                from 0deg,
                vars.$sunbeam-yellow,
                vars.$red-orange,
                vars.$bitcoin-color,
                vars.$pure-white
            );
            border: vars.$thin-border solid vars.$alabaster-stone;
            box-shadow:
                0 0 vars.$eighth-percent vars.$red-orange,
                0 0 vars.$quarter-percent vars.$bitcoin-color;
        }

        .loader-dot {
            background-color: vars.$sunbeam-yellow;
            box-shadow: 0 0 vars.$half-percent vars.$red-orange;
        }
    }

    &.color-golden {
        .loader-ring {
            background: conic-gradient(
                from 0deg,
                vars.$sunbeam-yellow,
                vars.$bitcoin-color,
                vars.$ivory-white,
                vars.$pure-white
            );
            border: vars.$thin-border solid vars.$alabaster-stone;
            box-shadow:
                0 0 vars.$eighth-percent vars.$bitcoin-color,
                0 0 vars.$quarter-percent vars.$sunbeam-yellow;
        }

        .loader-dot {
            background-color: vars.$pure-white;
            box-shadow: 0 0 vars.$half-percent vars.$bitcoin-color;
        }
    }

    &.color-emerald {
        .loader-ring {
            background: conic-gradient(
                from 0deg,
                vars.$green-lemon,
                vars.$teal-green,
                vars.$sage-green,
                vars.$pure-white
            );
            border: vars.$thin-border solid vars.$alabaster-stone;
            box-shadow:
                0 0 vars.$eighth-percent vars.$jungle-green,
                0 0 vars.$quarter-percent vars.$mint-green;
        }

        .loader-dot {
            background-color: vars.$pale-mint;
            box-shadow: 0 0 vars.$half-percent vars.$teal-green;
        }
    }

    &.color-frost {
        .loader-ring {
            background: conic-gradient(
                from 0deg,
                vars.$pure-white,
                vars.$air-blue,
                vars.$morning-frost-blue,
                vars.$soft-grey
            );
            border: vars.$thin-border solid vars.$alabaster-stone;
            box-shadow:
                0 0 vars.$eighth-percent vars.$muted-blue,
                0 0 vars.$quarter-percent vars.$morning-frost-blue;
        }

        .loader-dot {
            background-color: vars.$pure-white;
            box-shadow: 0 0 vars.$half-percent vars.$morning-frost-blue;
        }
    }

    .loader-ring {
        @extend %fill-container;
        border-radius: 50%;
        position: absolute;
        opacity: 0.7;
        animation: spinning 1s cubic-bezier(0.6, 0.45, 0.1, 0.6) infinite;
    }

    .loader-dot {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include mixins.square-size(vars.$four-percent);
        border-radius: 50%;
        animation: jumping 2s cubic-bezier(0.2, 0.57, 0.36, 0.98) infinite;
    }

    @keyframes spinning {
        0% {
            transform: rotate(0deg) scale(1);
        }

        100% {
            transform: rotate(360deg) scale(1);
        }
    }

    @keyframes glowing {
        0% {
            opacity: 0.6;
            box-shadow: 0 0 vars.$quarter-percent vars.$deep-ocean;
        }

        100% {
            opacity: 1;
            box-shadow:
                0 0 vars.$six-percent vars.$mint-green,
                0 0 vars.$quarter-percent vars.$muted-blue;
        }
    }

    @keyframes jumping {
        0%,
        100% {
            transform: translate(-50%, -50%) scale(1);
        }

        50% {
            transform: translate(-50%, -50%) scale(1.2);
        }
    }
}
