// quick-action-card.component.scss
@use '../../../../styles/global-variables' as vars;
@use '../../../../styles/global-mixins' as mixins;
@use '../../../../styles/global-functions' as funcs;
@use '../../../../styles/global-placeholders' as placeholders;
@use 'angular/styles/gradients/global-gradient-placeholders' as gradient-placeholders;
@use 'angular/styles/backgrounds/global-background-placeholders' as background-placeholders;

quick-action-card {
    display: flex;

    .dashboard-card {
        @include mixins.flex(flex-start, center, column);
        flex: 1;
        gap: vars.$quarter-percent;
        padding: vars.$one-percent vars.$half-percent;
        cursor: pointer;

        background-color: funcs.add-alpha-opaque(vars.$alabaster-stone, 0.85, vars.$pure-white);
        border: vars.$very-thin-border vars.$charcoal solid;
        box-shadow: vars.$quarter-percent vars.$quarter-percent 0 vars.$absolute-black;

        @extend %softer-border-radius;

        transition: transform 0.15s ease, box-shadow 0.15s ease;

        &:hover,
        &:focus {
            transform: translateY(-2px);
            box-shadow: vars.$half-percent vars.$half-percent 0 vars.$absolute-black;
            outline: none;
        }

        .card-icon {
            @include mixins.square-size(vars.$three-percent);
            border-radius: 50%;
            padding: vars.$quarter-percent;
            background-color: vars.$air-blue;
        }

        .card-label {
            @extend %signature-brand-gradient-text-small-reflection;
        }

        .card-description {
            color: vars.$charcoal;
            text-align: center;
            font-size: 0.8rem;
        }
    }

    .console-card {
        .card-icon {
            img {
                filter: invert(1);
            }
        }
    }
}
